# Node modules
node_modules/

# Build output
.next/
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Misc
*.local
*.log

# VSCode
.vscode/

# Production database and secrets
*.sqlite
*.pem
